name: rustdoc to gh-pages

on:
  push:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  release:
    name: GitHub Pages
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
      - name: Checkout the Repository
        uses: actions/checkout@v6

      - name: Install the Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true

      - name: Build the Documentation
        run: |
          RUSTDOCFLAGS="\
            --enable-index-page \
            --generate-link-to-definition \
            --extern-html-root-url burn=https://docs.rs/burn/0.15.0/ \
            --extern-html-root-url ndarray=https://docs.rs/ndarray/0.16/ \
            --extern-html-root-url numcodecs=https://juntyr.github.io/numcodecs-rs/ \
            --extern-html-root-url num-traits=https://docs.rs/num-traits/0.2.19/ \
            --extern-html-root-url pyo3=https://docs.rs/pyo3/0.23/ \
            --extern-html-root-url serde=https://docs.rs/serde/1.0/ \
            --html-in-header docs/rs/katex.html \
            -Zunstable-options\
          " cargo doc \
            --all-features \
            --no-deps

      - name: Deploy the Documentation
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./target/doc
          keep_files: false
